version: '3.8'

services:
  db:
    image: mariadb:latest
    container_name: entrenador-virtual-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root_password_molt_segura
      MYSQL_DATABASE: entrenador_virtual
      MYSQL_USER: nodeuser
      MYSQL_PASSWORD: nodepass
    ports:
      - "3306:3306"
    volumes:
      - ./db_init:/docker-entrypoint-initdb.d
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: entrenador_pma
    restart: always
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
    ports:
      - "8080:80"
    depends_on:
      - db

volumes:
  db_data: