version: "3.9"

services:
  db:
    image: mariadb:latest
    container_name: fitai_mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root_password_molt_segura
      MYSQL_DATABASE: entrenador_virtual
      MYSQL_USER: nodeuser
      MYSQL_PASSWORD: nodepass
    ports:
      - "3306:3306"
    volumes:
      - ./backend/db_init:/docker-entrypoint-initdb.d
      - db_data:/var/lib/mysql
    networks:
      - fitai_network

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: fitai_pma
    restart: always
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
    ports:
      - "8081:80"
    depends_on:
      - db
    networks:
      - fitai_network

  backend:   
    build:
      context: .
      dockerfile: ./backend/Dockerfile.prod
    restart: always
    ports:
      - "4000:4000"
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      DB_HOST: db
      DB_USER: nodeuser
      DB_PASSWORD: nodepass
      DB_NAME: entrenador_virtual
    depends_on:
      - db
    networks:
      - fitai_network

  frontend:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile.prod
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - backend
    networks:
      - fitai_network

  proxy:
    image: nginx:stable
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./proxy/nginx.prod.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certbot/conf:/etc/letsencrypt:ro
      - ./certbot/www:/var/www/certbot:ro
    networks:
      - fitai_network
    depends_on:
      - frontend
      - backend

volumes:
  db_data:

networks:
  fitai_network:
    driver: bridge